*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.web-logo img{
    width: 120px;
}
.nav-box{
    /* position: fixed; */
    
}

.navLinks li a{

    color: #081E36 !important;
    /* background-color: #081E36; */
    padding: 5px 5px 5px 5px;
    align-items: center !important;
    border: 2px solid #081E36;
    border-radius: 8px;

    font-size: 18px;
    font-weight: 700;
}
.navLi a:hover{
    background-color: #081E36;
    color: #fff !important;
    padding: 5px 5px 5px 5px;
    align-items: center !important;
    border-radius: 8px;

}



/* nav bar ends */



.head img{
    width: 100%;
    height: 620px;
}


.headBody{
    position: absolute;
    left: 120px;
    top: 300px;

    display: flex;
    flex-direction: column;
}

.contactBtn{
    width: 150px;
    height: 40px;
    border: none;
    background: transparent;
}

.contactBtn a{
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-weight: 500;
    border: 2px solid #FCC525;
    text-decoration: none;
    color: #FCC525;
    padding: 5px;
    border-radius: 5px;
    background: transparent;
    /* margin: 0px auto; */
}

.contactBtn a:hover{
    background-color: #FCC525;
    color: #fff;
}

.headTitle{
    /* color: #FCC525; */
    /* color: #fff; */
    color: #081E36;
    font-size: 32px;
    font-weight: 700;
}




/* catelogue section */

.catelogue{
    margin-top: 20px;
}
.catelogue-cards-section{
    display: flex;
    justify-content: space-evenly;
}

.catelogue-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #081E36;
    margin-top: 10px;
}






/* our partners section */

h2 {
    display: flex;
    /* width: 100%; */
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
}

.partner-section{

}

h2:before,
h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h2:after {
    margin: 0 0 0 20px;
}

.partners-logo img{
    width: 120px !important;
    
}
.partner-section{
    color: #081E36;
}




/* -----------Footer----------- */

.footer{
    /* background-color: #081E36; */
    background-color: #081E36;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img{
    max-width: 250px;
}

.footer p{
    max-width: 800px;
    text-align: center;
    font-size: 20px;
}

/* ------chat section----- */

.chat{
    width: 600px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
}
.chat a{
    color: #fff;
    text-decoration: none;
}

.chat .whatsApp:hover{
    color: #25D366;
}

.chat .faceBook:hover{
    color: #4267B2;
}

.call{
    width: 800px;
    display: flex;
    justify-content: space-around;
}

.call span{
    font-size: 18px;
}
.call span a{
    text-decoration: none !important;
    color: #fff;
}

.copyrights{
    /* background-color: #FCC525; */
    background-color: #000;
    padding: 8px 0 8px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}





/* ----------About page---------- */

.about-Body{
    display: flex !important;
    justify-content: center !important;
}

.about-header{
    color: #081E36;
}

/* .aboutPic img{
    width: 400px;
} */

.aboutText{
    width: 600px;
    text-align: justify;
}
.aboutText p{
    font-size: 18px;
    color: #081E36;
}
  
.business-founders{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.founder-box,.proprietor-box{
    width: 45%;
    background-color: #081E36;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
}



/* -------contact page--------- */
.contact-Body{
    display: flex !important;
    justify-content: center !important;
}

.contact-header{
    color: #081E36;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-by{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

.contact-by span{
    font-size: 24px;
    font-weight: 700;
    color: #081E36;
}
.contact-by p{
    color: #FCC525;
    font-size: 18px;
}

.map div{
    font-size: 26px;
    font-weight: 700;
    color: #081E36;
    text-align: center;

}


.map iframe{
    width: 100%;
}

@media screen and (max-width: 1042px) {

    .headBody{
        position: absolute;
        right: 40px;
        top: 300px;
    }

    .headTitle{
        font-size: 28px;
      
    }
  }



@media screen and (max-width: 768px) {

    .headBody{
        position: absolute;
        right: 30px;
        top: 300px;
    }

    .headTitle{
        font-size: 26px;
    }

    .business-founders{
        display: flex;
        flex-direction: column;
    }

    .founder-box,.proprietor-box{
        width: 100%;
    }

    .chat{
        width: 400px;
        font-size: 16px;
    }

    .call{
        width: 600px;
    }
    
    .call span{
        font-size: 16px;
    }

  }

  @media screen and (max-width: 576px) {

    .headBody{
        position: absolute;
        top: 40%;
        left: 50%;
     
    }

    .headTitle{
        font-size: 26px;
  
      
    }

    .call{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .call span{
        font-size: 16px;
    }

    .copyrights{
        font-size: 16px;
    }

    .contact-by{
        width: 80%;
        font-size: 20px;
    }
  }

